body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow:0 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/*------------Header-------------*/


.main-navigation {
  font-weight: bold;
  background-color: #fff;
}

.site-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active-page {
  color: #766357;
}


/*----------Footer-------------*/


.main-footer {
  display: flex;
  align-items: center;
  padding: 36px 0;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  width: 240px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-left: 80px;
}

.footer-sm ul {
  display: flex;
  justify-content: center;
  width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left:80px;
}

.sm-button {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.sm-button {
  margin-right: 5px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin-left: 80px;
}

.copyright-logo {
  margin-left:8px;
  line-height: 0;
}

}


/*--------index.html---------*/


.welcome {
  display: flex;
  justify-content: center;
  background-color: #e3f0f8;
  background-image: url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-position:0 -56px;
  padding-top: 75px;
  padding-bottom: 80px;
  margin-bottom: 60px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.description-title {
  font-size: 21px;
  width: 440px;
  text-align: center;
  margin:0;
  margin-bottom: 10px;
}

.description-text {
  color: #333333;
  margin-bottom: 30px;
}

.reasons-list,
.town-features {
  list-style: none;
  padding: 0;
}

.reasons-list {
  line-height: 21px;
  background-color: #eeeeee;
}

.reasons-list h3 {
  font-size: 21px;
  font-weight: bold;
}

.reason,
.town-feature {
  text-align: center;
}

.reason p,
.town-feature p {
  color: #333333;
}

.reason-big {
  background-color: #81b3d2;
}

.reason-big h3,
.reason-big p {
  color: #ffffff;
}

.town-features {
  background-color: #ffffff;
}

.search-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.search-description {
  width: 435px;
  text-align: center;
}

.search-description h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-description p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 45px;
}

.popup-button {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  width: 568px;
  background-color: #766357;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 30px;
}

.popup-button:hover,
.popup-button:focus {
  background-color: #604e43;
}

.popup-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  display: none;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  text-align: center;
}

.search-form input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border:2px solid #f2f2f2;
}

.search-form input:hover,
.search-form input:focus {
  background-color: #ebebeb;
  border-color:#f2f2f2;


}

.search-form input:focus {
  background-color: transparent;
  border-color: #e5e5e5;
}

.amount-btn {
  font: inherit;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.amount-btn:hover,
.amount-btn:focus{
  color: #000;
}

.amount-btn:active {
  color:#81b3d2;
}

.search-btn {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #81b3d2;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}


/*-----------Hotels.html------------*/


.filter {
  line-height: 21px;
  color: #fff;
  background-image: url("../img/mountain_blur.jpg");
  background-repeat: no-repeat;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-form ul {
  list-style: none;
}

.price input {
  text-transform: uppercase;
  line-height: 21px;
  color: #fff;
  background-color: transparent;
  text-align: center;
  border: 2px solid #fff;
}

.filter-btn {
  text-transform: uppercase;
  line-height: 21px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #000;
  background-color: #fff;
}

.results-sort {
  border-bottom: 1px solid #e5e5e5;
}

.results-amount {
  font-size: 21px;
  font-weight: bold;
}

.sort-parameters {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-parameter {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-parameter:hover,
.sort-parameter:focus {
  color: #81b3d2;
}

.sort-parameter:active {
  color: #000;
  border:none;
}

.sort-parameter-active {
  color: #81b3d2;
  border: none;
  pointer-events: none;
  cursor: default;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  padding: 25px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.list-item-image {
  margin-top: 5px;
  margin-right: 30px;
}

.list-item-info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 270px;
}


.list-item-info h3 {
  margin: 0;
}

.list-item-name {
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.list-item-name:hover,
.list-item-name:focus {
  color: #81b3d2;
}

.list-item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-price {
  display: flex;
  margin-bottom: 5px;
}

.item-price .type {
  width: 110px;
  margin-right: 6px;
}

.list-item-buttons {
  display: flex;
}

.list-item-buttons a {
  color: #fff;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.list-item-buttons .more {
  width: 110px;
  text-align: center;
  background-color: #81b3d2;
  margin-right: 6px;
}

.list-item-buttons .more:hover,
.list-item-buttons .more:focus {
  background-color: #669ec0;
}

.list-item-buttons .more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.list-item-buttons .book {
  width: 142px;
  text-align: center;
  background-color: #766357;
}

.list-item-buttons .book:hover,
.list-item-buttons .book:focus {
  background-color: #604e43;
}

.list-item-buttons .book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.rating-text {
  width: 110px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f2f2f2;
}